<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Course, <%= @alert.department + " " + @alert.course_number + " " %> has open seats </h1>
    <p>
      go sign up
    </p>
  </body>

</html>