<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1><%= @alert.department + " " + @alert.course_number + " " %> has open seats. 
    	This alert has been deleted from your account.  To add it again or to add another alert go to <a href="https://schedule-watcher.herokuapp.com/">https://schedule-watcher.herokuapp.com/</a></h1>
  </body>

</html>