<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Alert has been set for course <%= @alert.department + " " + @alert.course_number + " " %> </h1>
  </body>

</html>