<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
			<h1>Editing Alert</h1>
		</div>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>

	<div class="panel-footer">
		<%= link_to 'Back', alerts_path %>
	</div>
</div>
