<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
			<h1>New Alert</h1>
		</div>
		<p> 
			Alerts are for USC registration <strong> Fall 2016 </strong>
			<br>
			Enter Department name and course number exactly as it appears on web registration (with no spaces).
			<br><br>Example: 
			<br>Department: <strong> WRIT </strong>
			<br>Course number: <strong> 29906D </strong>
			<br>$2 per alert
		</p>
	</div>
	<div class="panel-body">
		<%= render 'payment/form' %>
	</div>

	<div class="panel-footer">
		<%= link_to 'Back', alerts_path %>
	</div>
</div>

<%= @params %>