<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
			<h1>New Alert</h1>
		</div>
		<p> 
			Enter Department name and course number exactly as it appears on web registration (with no spaces).
			<br><br>Example: 
			<br>Department: <strong> WRIT </strong>
			<br>Course number: <strong> 29906D </strong>
		</p>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>

	<div class="panel-footer">
		<%= link_to 'Back', alerts_path %>
	</div>
</div>
